<div>
    <h2 translate="fruitcrmApp.orders.home.title">Orderss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="orders.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        class="hidden-xs"                        translate="fruitcrmApp.orders.home.createLabel">Create new Orders
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'fruitcrmApp.orders.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">

                <th jh-sort-by="customer.name"><span translate="fruitcrmApp.orders.customer">customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="fruitPack.name"><span translate="fruitcrmApp.orders.fruitPack">fruitPack</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="details"><span translate="fruitcrmApp.orders.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th>Driver<span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody ui-sortable>

            <tr ng-repeat="orders in orderss track by orders.id" class="orders-today" ng-class="status">
                <td>
                    <a ui-sref="customer.detail({id:orders.customer.id})">{{orders.customer.name}}</a>
                </td>
                <td>
                    <a ui-sref="fruitPack.detail({id:orders.fruitPack.id})">{{orders.fruitPack.name}}</a>
                </td>
                <td>{{orders.details}}</td>
                <td>
                    <select class="form-control" id="field_customer" name="customer" ng-model="employee" ng-options="employee as employee.fName+' '+employee.lName for employee in employees track by employee.id">
                        <option value=""></option>
                    </select>
                </td>
                <td class="text-right">

                        <label>
                            <input type="radio" ng-model="status" value="danger">
                            Not ready
                        </label>
                        <label>
                            <input type="radio" ng-model="status" value="active">
                            Packed
                        </label>
                        <label>
                            <input type="radio" ng-model="status" value="success">
                            Shiped
                        </label>

                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="orders.detail({id:orders.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="orders.edit({id:orders.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="orders.delete({id:orders.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div><strong>Total amount of Orders for today: {{totalItems}}</strong></div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>


